In [251]:
%matplotlib inline
import pandas as pd

import numpy as np
import matplotlib.pyplot as plt

In [252]:
df = pd.read_csv('water_potability.csv')
df

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,NaN,204.890455,20791.318981,7.300212,368.516441,564.308654,10.379783,86.990970,2.963135,0
1,3.716080,129.422921,18630.057858,6.635246,NaN,592.885359,15.180013,56.329076,4.500656,0
2,8.099124,224.236259,19909.541732,9.275884,NaN,418.606213,16.868637,66.420093,3.055934,0
3,8.316766,214.373394,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771,0
4,9.092223,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,0
...,...,...,...,...,...,...,...,...,...,...
3271,4.668102,193.681735,47580.991603,7.166639,359.948574,526.424171,13.894419,66.687695,4.435821,1
3272,7.808856,193.553212,17329.802160,8.061362,NaN,392.449580,19.903225,NaN,2.798243,1
3273,9.419510,175.762646,33155.578218,7.350233,NaN,432.044783,11.039070,69.845400,3.298875,1
3274,5.126763,230.603758,11983.869376,6.303357,NaN,402.883113,11.168946,77.488213,4.708658,1
3275,7.874671,195.102299,17404.177061,7.509306,NaN,327.459760,16.140368,78.698446,2.309149,1

In [253]:
df.index.name='Sample no'
df

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
Sample no,,,,,,,,,,
0,NaN,204.890455,20791.318981,7.300212,368.516441,564.308654,10.379783,86.990970,2.963135,0
1,3.716080,129.422921,18630.057858,6.635246,NaN,592.885359,15.180013,56.329076,4.500656,0
2,8.099124,224.236259,19909.541732,9.275884,NaN,418.606213,16.868637,66.420093,3.055934,0
3,8.316766,214.373394,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771,0
4,9.092223,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,0
...,...,...,...,...,...,...,...,...,...,...
3271,4.668102,193.681735,47580.991603,7.166639,359.948574,526.424171,13.894419,66.687695,4.435821,1
3272,7.808856,193.553212,17329.802160,8.061362,NaN,392.449580,19.903225,NaN,2.798243,1
3273,9.419510,175.762646,33155.578218,7.350233,NaN,432.044783,11.039070,69.845400,3.298875,1
3274,5.126763,230.603758,11983.869376,6.303357,NaN,402.883113,11.168946,77.488213,4.708658,1
3275,7.874671,195.102299,17404.177061,7.509306,NaN,327.459760,16.140368,78.698446,2.309149,1

In [254]:
df.describe()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
count,2785.000000,3276.000000,3276.000000,3276.000000,2495.000000,3276.000000,3276.000000,3114.000000,3276.000000,3276.000000
mean,7.080795,196.369496,22014.092526,7.122277,333.775777,426.205111,14.284970,66.396293,3.966786,0.390110
std,1.594320,32.879761,8768.570828,1.583085,41.416840,80.824064,3.308162,16.175008,0.780382,0.487849
min,0.000000,47.432000,320.942611,0.352000,129.000000,181.483754,2.200000,0.738000,1.450000,0.000000
25%,6.093092,176.850538,15666.690297,6.127421,307.699498,365.734414,12.065801,55.844536,3.439711,0.000000
50%,7.036752,196.967627,20927.833607,7.130299,333.073546,421.884968,14.218338,66.622485,3.955028,0.000000
75%,8.062066,216.667456,27332.762127,8.114887,359.950170,481.792304,16.557652,77.337473,4.500320,1.000000
max,14.000000,323.124000,61227.196008,13.127000,481.030642,753.342620,28.300000,124.000000,6.739000,1.000000

In [255]:
df=df.fillna(df.mean())

In [256]:
df.describe()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
count,3276.000000,3276.000000,3276.000000,3276.000000,3276.000000,3276.000000,3276.000000,3276.000000,3276.000000,3276.000000
mean,7.080795,196.369496,22014.092526,7.122277,333.775777,426.205111,14.284970,66.396293,3.966786,0.390110
std,1.469956,32.879761,8768.570828,1.583085,36.142612,80.824064,3.308162,15.769881,0.780382,0.487849
min,0.000000,47.432000,320.942611,0.352000,129.000000,181.483754,2.200000,0.738000,1.450000,0.000000
25%,6.277673,176.850538,15666.690297,6.127421,317.094638,365.734414,12.065801,56.647656,3.439711,0.000000
50%,7.080795,196.967627,20927.833607,7.130299,333.775777,421.884968,14.218338,66.396293,3.955028,0.000000
75%,7.870050,216.667456,27332.762127,8.114887,350.385756,481.792304,16.557652,76.666609,4.500320,1.000000
max,14.000000,323.124000,61227.196008,13.127000,481.030642,753.342620,28.300000,124.000000,6.739000,1.000000

In [257]:
df.dtypes

ph                 float64
Hardness           float64
Solids             float64
Chloramines        float64
Sulfate            float64
Conductivity       float64
Organic_carbon     float64
Trihalomethanes    float64
Turbidity          float64
Potability           int64
dtype: object

In [258]:
df['Potability']=df['Potability'].astype(bool)
df

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
Sample no,,,,,,,,,,
0,7.080795,204.890455,20791.318981,7.300212,368.516441,564.308654,10.379783,86.990970,2.963135,False
1,3.716080,129.422921,18630.057858,6.635246,333.775777,592.885359,15.180013,56.329076,4.500656,False
2,8.099124,224.236259,19909.541732,9.275884,333.775777,418.606213,16.868637,66.420093,3.055934,False
3,8.316766,214.373394,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771,False
4,9.092223,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,False
...,...,...,...,...,...,...,...,...,...,...
3271,4.668102,193.681735,47580.991603,7.166639,359.948574,526.424171,13.894419,66.687695,4.435821,True
3272,7.808856,193.553212,17329.802160,8.061362,333.775777,392.449580,19.903225,66.396293,2.798243,True
3273,9.419510,175.762646,33155.578218,7.350233,333.775777,432.044783,11.039070,69.845400,3.298875,True
3274,5.126763,230.603758,11983.869376,6.303357,333.775777,402.883113,11.168946,77.488213,4.708658,True
3275,7.874671,195.102299,17404.177061,7.509306,333.775777,327.459760,16.140368,78.698446,2.309149,True

In [259]:
df.dtypes

ph                 float64
Hardness           float64
Solids             float64
Chloramines        float64
Sulfate            float64
Conductivity       float64
Organic_carbon     float64
Trihalomethanes    float64
Turbidity          float64
Potability            bool
dtype: object

In [260]:
train_data= df.loc[0:2775]
train_data

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
Sample no,,,,,,,,,,
0,7.080795,204.890455,20791.318981,7.300212,368.516441,564.308654,10.379783,86.990970,2.963135,False
1,3.716080,129.422921,18630.057858,6.635246,333.775777,592.885359,15.180013,56.329076,4.500656,False
2,8.099124,224.236259,19909.541732,9.275884,333.775777,418.606213,16.868637,66.420093,3.055934,False
3,8.316766,214.373394,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771,False
4,9.092223,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,False
...,...,...,...,...,...,...,...,...,...,...
2771,8.226808,191.278681,16472.192309,6.863927,333.775777,354.926227,15.183646,63.416787,2.188702,True
2772,8.014183,244.120098,30566.767504,7.714447,307.987458,309.930428,22.641598,61.578461,3.417076,True
2773,9.252893,236.098786,12855.346238,5.784976,276.286305,329.922765,12.609077,55.617760,3.566435,True
2774,7.288113,216.612475,18979.981692,7.668510,358.978620,384.694955,14.163607,53.313046,3.626990,True
2775,4.865444,114.463900,32858.483096,7.473070,365.301135,533.303221,16.151600,45.647388,5.070254,True

In [261]:
X=train_data.drop(['Potability'], axis=1)
X

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity
Sample no,,,,,,,,,
0,7.080795,204.890455,20791.318981,7.300212,368.516441,564.308654,10.379783,86.990970,2.963135
1,3.716080,129.422921,18630.057858,6.635246,333.775777,592.885359,15.180013,56.329076,4.500656
2,8.099124,224.236259,19909.541732,9.275884,333.775777,418.606213,16.868637,66.420093,3.055934
3,8.316766,214.373394,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771
4,9.092223,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075
...,...,...,...,...,...,...,...,...,...
2771,8.226808,191.278681,16472.192309,6.863927,333.775777,354.926227,15.183646,63.416787,2.188702
2772,8.014183,244.120098,30566.767504,7.714447,307.987458,309.930428,22.641598,61.578461,3.417076
2773,9.252893,236.098786,12855.346238,5.784976,276.286305,329.922765,12.609077,55.617760,3.566435
2774,7.288113,216.612475,18979.981692,7.668510,358.978620,384.694955,14.163607,53.313046,3.626990
2775,4.865444,114.463900,32858.483096,7.473070,365.301135,533.303221,16.151600,45.647388,5.070254

In [262]:
Y=train_data["Potability"]
Y

Sample no
0       False
1       False
2       False
3       False
4       False
        ...
2771     True
2772     True
2773     True
2774     True
2775     True
Name: Potability, Length: 2776, dtype: bool

In [263]:
X=X.to_numpy()
Y=Y.to_numpy()   ## this converts dataframe to nd_array
Y=Y.flatten()    ## this converts nd_array to 1d_array
print('X has data type:',type(X))
print('y has data type:',type(Y))
print('X has shape:',X.shape)
print('y has shape:',Y.shape)

X has data type: <class 'numpy.ndarray'>
y has data type: <class 'numpy.ndarray'>
X has shape: (2776, 9)
y has shape: (2776,)

In [267]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics

from sklearn.model_selection import train_test_split

# Using train test split

In [268]:
X_train, X_test, y_train, y_test = train_test_split(X, Y,train_size=0.70,stratify=Y, random_state=48 )
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(X_train, y_train)

KNeighborsClassifier()

In [269]:
y_pred = knn.predict(X_train)
print('Accuracy of KNN n-5, on the training set: {:.3f}'.format(metrics.accuracy_score(y_train, y_pred)))

Accuracy of KNN n-5, on the training set: 0.722

In [270]:
y_pred = knn.predict(X_test)
print('Accuracy of KNN n-5, on the Testing set: {:.3f}'.format(metrics.accuracy_score(y_test, y_pred)))

Accuracy of KNN n-5, on the Testing set: 0.570

#  Using cross validation to ensure accuracy

In [275]:
from sklearn.model_selection import cross_val_score
scores = cross_val_score(knn, X, Y,cv=10)
print ("Mean Cross-validation score: ", scores.mean())
type(scores)

Mean Cross-validation score:  0.6048191050048047

numpy.ndarray

# Improving Accuracy using hypermeters

In [276]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, stratify=Y, random_state=0)
print("Size of training set: %d, size of test set: %d" % (X_train.shape[0], X_test.shape[0]))
best_score = 0
for n in [1,2,3,4,5,6,7,8,9,10]:
    for w in ['uniform', 'distance']:
        knn = KNeighborsClassifier(n_neighbors= n,weights=w)
        knn.fit(X_train, y_train)
        # evaluate the knn on the test set
        score = knn.score(X_test, y_test)
        if score > best_score:
            best_score = score
            best_parameters = {'n_neighbors': n, 'weights': w}
print("Best accuracy on Testing set : ", best_score)
print("best parameters: ", best_parameters)

Size of training set: 2082, size of test set: 694
Best accuracy on Testing set :  0.6109510086455331
best parameters:  {'n_neighbors': 2, 'weights': 'uniform'}

In [277]:
knn = KNeighborsClassifier(n_neighbors=2,weights="uniform")
knn.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=2)

In [278]:
y_pred = knn.predict(X_train)
print('Accuracy of KNN n-2, w=distance on the training set: {:.3f}'.format(metrics.accuracy_score(y_train, y_pred)))

Accuracy of KNN n-2, w=distance on the training set: 0.782

In [279]:
y_pred = knn.predict(X_test)
print('Accuracy of KNN n-2,w=distance on the Testing set: {:.3f}'.format(metrics.accuracy_score(y_test, y_pred)))

Accuracy of KNN n-2,w=distance on the Testing set: 0.611

# grid search CV

In [280]:
param_grid = {'n_neighbors':[1,2,3,4,5,6,7,8,9,10], 'weights':['uniform', 'distance']}
print (param_grid)

{'n_neighbors': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 'weights': ['uniform', 'distance']}

In [284]:
from sklearn.model_selection import GridSearchCV
X_train, X_test, y_train, y_test = train_test_split(X, Y, stratify=Y, random_state=0)
grid_search = GridSearchCV(KNeighborsClassifier(), param_grid, cv=5)
grid_search.fit(X_train, y_train)

GridSearchCV(cv=5, estimator=KNeighborsClassifier(),
             param_grid={'n_neighbors': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
                         'weights': ['uniform', 'distance']})

In [285]:
grid_search.score(X_train, y_train)

0.6849183477425552

In [286]:
grid_search.score(X_test, y_test)

0.6023054755043228

In [287]:
print(grid_search.best_params_)
print(grid_search.best_score_)

{'n_neighbors': 6, 'weights': 'uniform'}
0.6191304648588821

# Nested Cross validation with grid search

In [288]:
scores = cross_val_score(GridSearchCV(KNeighborsClassifier(), param_grid, cv=5), X_train, y_train, cv=5)
print("Cross-validation scores: ", scores)
print("Mean cross-validation score: ", scores.mean())

Cross-validation scores:  [0.59232614 0.61630695 0.63461538 0.63701923 0.61538462]
Mean cross-validation score:  0.6191304648588821

In [289]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import LogisticRegression

# Decition Tree Model

In [290]:
X_train,X_test,y_train,y_test=train_test_split(X,Y,test_size=0.7)
dtc=DecisionTreeClassifier()
dtc.fit(X_train,y_train)
y_pred=dtc.predict(X_train)
print('Accuracy of dtm, on training: {:.3f}'.format(metrics.accuracy_score(y_train,y_pred)))
y_pred= dtc.predict(X_test)
print('Accuracy of dtm, on testing: {:.3f}'.format(metrics.accuracy_score(y_test,y_pred)))

Accuracy of dtm, on training: 1.000
Accuracy of dtm, on testing: 0.597

# Gaussian NB model

In [291]:
X_train, X_test ,y_train, y_test = train_test_split(X,Y, test_size=0.2)
gau_nb=GaussianNB()
gau_nb.fit (X_train, y_train)
y_pred= gau_nb.predict(X_train)
print('Accuracy of gnb,on training: {:.3f}'.format( metrics.accuracy_score (y_train,y_pred)))
y_pred= gau_nb.predict(X_test)
print('Accuracy of gnb,on testing:  {:.3f}'.format( metrics.accuracy_score (y_test,y_pred)))

Accuracy of gnb,on training: 0.650
Accuracy of gnb,on testing:  0.640

# Predicting the outputs of Testing data

In [292]:
test_data = df.loc[2776:]
test_data=test_data.drop(['Potability'], axis=1)
test_data

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity
Sample no,,,,,,,,,
2776,4.762829,153.297018,22777.532069,6.841721,333.775777,522.736233,15.785509,86.128613,2.471786
2777,5.141507,111.994028,11288.634718,5.841750,389.225673,315.229665,12.982476,81.159239,4.510578
2778,4.886380,159.317972,38633.305169,8.370179,375.899169,448.050866,16.820615,59.183190,3.227849
2779,9.454119,224.817132,21379.963927,5.407692,227.665635,431.613001,15.772334,52.033845,4.058626
2780,7.000523,219.442640,26012.130278,6.280887,395.241329,483.319881,19.538635,46.861384,4.333689
...,...,...,...,...,...,...,...,...,...
3271,4.668102,193.681735,47580.991603,7.166639,359.948574,526.424171,13.894419,66.687695,4.435821
3272,7.808856,193.553212,17329.802160,8.061362,333.775777,392.449580,19.903225,66.396293,2.798243
3273,9.419510,175.762646,33155.578218,7.350233,333.775777,432.044783,11.039070,69.845400,3.298875
3274,5.126763,230.603758,11983.869376,6.303357,333.775777,402.883113,11.168946,77.488213,4.708658
3275,7.874671,195.102299,17404.177061,7.509306,333.775777,327.459760,16.140368,78.698446,2.309149

In [293]:
testing_data=test_data.to_numpy()
print('testing has data type:',type(testing_data))
print('testing has shape:',testing_data.shape)

testing has data type: <class 'numpy.ndarray'>
testing has shape: (500, 9)

In [294]:
#test_pred = knn.predict(testing_data)
#test_pred = gau_nb.predict(testing_data)
#test_pred = grid_search.predict(testing_data)
test_pred = dtc.predict(testing_data)
print(test_pred)

[False  True False  True False False False False  True  True False False
  True False  True  True  True False  True  True  True  True False False
 False  True False  True  True  True  True False False  True False False
  True False False  True False  True False  True  True False False  True
  True False  True False  True False  True False  True False  True False
 False False  True  True  True  True False False False False False False
 False  True False  True False  True  True False False  True False False
 False False  True False False False False  True False False False False
  True  True False False False  True  True False False False False  True
 False False  True False False False False  True False False False False
 False  True False False False  True False False False False  True False
 False False False False False False False False False  True False False
 False False  True  True False False False False False False  True False
  True  True  True False False False False False False False  True False
 False False False False False False False False False  True False False
 False False False False False  True False False False  True False False
 False False  True False False  True False False False  True False False
 False False False False False False False  True False  True False False
  True False False False  True  True False False False  True False False
 False False False False  True False False  True False  True False False
  True False False  True False False False False  True False  True False
 False  True False False  True False  True  True False False False False
 False False  True False  True False False  True  True False False False
 False  True False  True False  True  True False  True False  True False
 False False False False False False False False False  True False  True
 False False  True False False  True False False False False False False
 False False False False False False False  True False False False False
 False False  True False  True  True False False False False  True False
  True False False  True  True False False  True  True False False False
  True  True False False  True False False  True False  True  True False
 False False False  True False False  True False False False False False
 False  True False  True False  True False False False False False False
 False  True False  True  True False  True  True  True False False False
  True False False  True  True  True False  True  True False False False
  True False  True False False  True False False False False False False
  True False  True False  True False  True  True  True  True False  True
 False False False False False  True False False  True  True False False
 False False False False False  True False  True False False  True  True
  True  True  True False  True False False False False False False  True
 False False False  True False False False  True False False False  True
  True False  True  True  True False False  True False False False False
 False  True False  True  True False  True False]